<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.udlap.sofia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mx.udlap.sofia.MainMenu"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mx.udlap.settheory.Theory_description" >
        </activity>
        <activity android:name="mx.udlap.settheory.Seeanswer_exercises" >
        </activity>
        <activity android:name="mx.udlap.settheory.Solve_exercises" >
        </activity>
        <activity android:name="mx.udlap.settheory.Solve_solver" >
        </activity>
        <activity android:name="mx.udlap.equations.Equation_graphic" >
        </activity>
        <activity android:name="mx.udlap.equations.Equation_menu" >
        </activity>
        <activity android:name="mx.udlap.settheory.Interfaz" >
        </activity>
        <activity android:name="mx.udlap.equations.Equation_solver_answer" >
        </activity>
        <activity android:name="mx.udlap.equations.Equation_solver" >
        </activity>
        <activity android:name="com.example.sofia.Solver_exercises" >
        </activity>
        <activity android:name="com.example.sofia.Methods" >
        </activity>
        <activity
            android:name="mx.udlap.sofia.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity android:name="com.example.sofiaTriangulo.Triangulo"></activity>
    </application>

</manifest>
